.button {
  color: #fff;
  text-align: center;
  background-color: #a259ff;
  border: none;
  border-radius: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  padding-left: 1px;
  font-family: Work Sans, Arial;
  font-size: 1rem;
  font-weight: 600;
  line-height: 22px;
  display: flex;
}
