.type-form {
  color: #2b2b2b;
  background-color: #fff;
  border: 1px solid #858584;
  border-radius: 20px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Work Sans, Arial;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  display: flex;
}
